<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Syndicate Brewing Company</title>
    <%= stylesheet_link_tag "application", relative: true %>
    <link rel="shortcut icon" type="image/png" href="syndicate-icon-196x196.png">
    <link rel="shortcut icon" sizes="196x196" href="syndicate-icon-196x196.png">
    <link rel="apple-touch-icon" href="syndicate-icon-196x196.png">
  </head>
  <body>
    <div class="content">
      <%= yield %>
    </div>
  </body>
</html>
